<html>
        <body>
                <h1>Form</h1>
                <form method="post" action="/modloForm">
                        <label>pH</label>
                        <input type="text" name = "ph" />
                        <br/>
                        <label>Sulphures</label>
                        <input type="text" name = "sulphures" />
                        <br/>
                        <label>Alcohol</label>
                        <input type="text" name = "alcohol" />
                        <button type="submit">Enviar</button>
                </form>
        </body>
</hmtl>